
body {
    background-image: url(images/landscape.jpg);  
    background-color: #ed2bff;
}

h1,h2 {
    text-align: center;
  }
  
  img {
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
  
h1, h2 {
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
  }
  
